# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Appwrite
NEXT_PUBLIC_APPWRITE_ENDPOINT=http://appwrite.adntgv.com/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your_project_id

# Security (for production)
# Minimum 32 characters
AUTH_SECRET=your_auth_secret_key_min_32_chars
# Set to true in production
AUTH_TRUST_HOST=false